@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  font-family: 'Press Start 2P', cursive;
}

#game-view {
  border: 1px solid black;
  width: 100%;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#enemy-div {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation-name: still;
  animation-duration: 1s;
}

img:hover {
  cursor: help;
}

img {
  height: auto;
  
  width: auto;
  animation-name: still;
  opacity: 0;
}

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 75%;
  width: 100%;
  --s: 25vmin;
  --p: calc(var(--s) / 2);
  --c1: rgb(0, 0, 0);
  --c2: rgb(60, 60, 60);
  --c3: rgb(46, 30, 121);
  --bg: var(--c3);
  --d: 4000ms;
  --e: cubic-bezier(0.76, 0, 0.24, 1);

  background-color: var(--bg);
  background-image: linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
  background-size: var(--s) var(--s);
  background-position: calc(var(--p) * 1) calc(var(--p) * 0),
    calc(var(--p) * -1) calc(var(--p) * 1),
    calc(var(--p) * 1) calc(var(--p) * -1),
    calc(var(--p) * -1) calc(var(--p) * 0);
  animation: still;
}

#player-display {
  justify-items: center;
  align-items: center;
  width: 120px;
  height: 60px;
  border: 3px dashed black;
  padding: 10px;
  line-height: 1.3;
  background-color: black;
  color: white;
  opacity: 0;
}

#action-bar {
  width: 100%;
  border: 1px solid white;
  height: 25%;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  font-size: 40px;
  line-height: 1.3;
  animation-name: still;
  animation-duration: 1s;
  background-color: black;
  color: white;
}
#search-btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transform: translateY(-10px);
  cursor: pointer;
}

.action-btn {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
}

.action-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transform: translateY(-10px);
  cursor: pointer;
}
@keyframes nouse {
  0% {
    filter: hue-rotate(10deg);
  }
  5% {
    filter: hue-rotate(20deg);
  }
  15% {
    filter: hue-rotate(30deg);
  }
  25% {
    filter: hue-rotate(40deg);
  }
  35% {
    filter: hue-rotate(50deg);
  }
  45% {
    filter: hue-rotate(60deg);
  }
  55% {
    filter: hue-rotate(70deg);
  }
  65% {
    filter: hue-rotate(80deg);
  }
  75% {
    filter: hue-rotate(90deg);
  }
  85% {
    filter: hue-rotate(100deg);
  }
  95% {
    filter: hue-rotate(110deg);
  }
  100% {
    filter: hue-rotate(120deg);
  }
}
@keyframes fire {
  0% {
    opacity: 1;
    filter: brightness(25%);
  }
  5% {
    opacity: 0;
    filter: brightness(25%);
  }
  15% {
    opacity: 1;
    filter: brightness(25%);
  }
  25% {
    opacity: 0;
    filter: brightness(25%);
  }
  35% {
    opacity: 1;
    filter: brightness(25%);
  }
  45% {
    opacity: 0;
    filter: brightness(25%);
  }
  55% {
    opacity: 1;
    filter: brightness(25%);
  }
  65% {
    opacity: 0;
    filter: brightness(25%);
  }
  75% {
    opacity: 1;
    filter: brightness(25%);
  }
  85% {
    opacity: 0;
    filter: brightness(25%);
  }
  95% {
    opacity: 1;
    filter: brightness(25%);
  }
  100% {
    opacity: 0;
    filter: brightness(25%);
  }
}
@keyframes earth {
  0% {
    opacity: 1;
    transform: translateX(-50px);
  }
  5% {
    opacity: 0;
    transform: translateX(50px);
  }
  15% {
    opacity: 1;
    transform: translateX(-30px);
  }
  25% {
    opacity: 0;
    transform: translateX(30px);
  }
  35% {
    opacity: 1;
    transform: translateX(-20px);
  }
  45% {
    opacity: 0;
    transform: translateX(20px);
  }
  55% {
    opacity: 1;
    transform: translateX(-20px);
  }
  65% {
    opacity: 0;
    transform: translateX(10px);
  }
  75% {
    opacity: 1;
    transform: translateX(-10px);
  }
  85% {
    opacity: 0;
    transform: translateX(10px);
  }
  95% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  5% {
    transform: translateX(10px);
  }
  15% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  35% {
    transform: translateX(-10px);
  }
  45% {
    transform: translateX(10px);
  }
  55% {
    transform: translateX(-10px);
  }
  65% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  85% {
    transform: translateX(10px);
  }
  95% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes dodge {
  40% {
    transform: translateX(-120px);
  }
}
@keyframes color {
  0%,
  25% {
    --bg: var(--c3);
  }
  26%,
  50% {
    --bg: var(--c1);
  }
  51%,
  75% {
    --bg: var(--c3);
  }
  76%,
  100% {
    --bg: var(--c2);
  }
}

@keyframes position {
  0% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 0),
      calc(var(--p) * -1) calc(var(--p) * 1),
      calc(var(--p) * 1) calc(var(--p) * -1),
      calc(var(--p) * -1) calc(var(--p) * 0);
  }
  25% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 4),
      calc(var(--p) * -1) calc(var(--p) * 5),
      calc(var(--p) * 1) calc(var(--p) * 3),
      calc(var(--p) * -1) calc(var(--p) * 4);
  }
  50% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 8),
      calc(var(--p) * -3) calc(var(--p) * 9),
      calc(var(--p) * 2) calc(var(--p) * 7),
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 12),
      calc(var(--p) * -3) calc(var(--p) * 13),
      calc(var(--p) * 2) calc(var(--p) * 11),
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {
    background-position: calc(var(--p) * 5) calc(var(--p) * 16),
      calc(var(--p) * -5) calc(var(--p) * 17),
      calc(var(--p) * 5) calc(var(--p) * 15),
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}

