@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  font-family: 'Press Start 2P', cursive;
}
#game-view {
  border: 1px solid black;
  width: 1200px;
  height: 800px;
  display: flex;
}
#enemy-div {
  position: absolute;
  left: 34%;
  top: 10%;
  opacity: 1;
  animation-name: still;
  animation-duration: 1s;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#action-bar {
  width: 1200px;
  border: 1px solid black;
  height: 200px;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  font-size: 40px;
  animation-name: still;
  animation-duration: 1s;
}
@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  5% {
    transform: translateX(10px);
  }
  15% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  35% {
    transform: translateX(-10px);
  }
  45% {
    transform: translateX(10px);
  }
  55% {
    transform: translateX(-10px);
  }
  65% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  85% {
    transform: translateX(10px);
  }
  95% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes dodge {
  40% {
    transform: translateX(-120px);
  }
}

.action-btn {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
